body{
background-image: linear-gradient(45deg, grey, lightgrey);
margin: 15px;
}

.column{
float: left;
width: 50%;
}

.title1{
font-size: 45px;
color: darkred;
text-align: center;
}

.title2{
font-size: 30px;
color: brown;
}

p{
font-size: 24px;
}

.myphoto{
border-radius: 40px;
max-width: 15%;
display: block;
margin-left: auto;
margin-right: auto;
padding: 20px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}

label{
font-size: 24px;
}

textarea{
font-size: 18px;
width: 50%;
padding: 15px;
}